@import '../../App.scss';

.wrapper {
    background: linear-gradient(#f94e30, #f03716);
    padding: 30px;
    height: 100vh;

    .goToHome {
        display: flex;
        align-items: center;
        justify-content: center;
        // backdrop-filter: blur(20px);

        a {
            border: #f94e30;
            background-color: #f94e30;
            color: #fff;
            padding: 5px 25px;
            border-radius: 20px;
            text-align: center;
            margin: 20px 0;
            box-shadow: 3px 3px 4px #444;

        }
    }

    .inner {
        // border-radius: 20px;

        .image-holder {
            width: 50%;
        }

        .right {
            width: 35%;
            background-color: #fff;
            border-radius: 20px;
            position: relative;

            h4 {
                position: absolute;
                top: 0px;
                left: 0;
                background-color: #f94e30;
                font-size: 20px;
                padding: 4px 10px;
                color: #fff;
                border-top-left-radius: 20px;
                font-weight: 600;
            }

            form {
                height: 100%;
                padding: 0px 20px;

                .LoginYourAccount {
                    color: #333;
                    font-weight: 700;
                    font-size: 30px;
                    margin-bottom: 20px;
                }

                input {
                    background-color: transparent;
                    border-bottom: 2px solid #f94e30;
                    width: 90%;
                    margin: 10px 0;
                    padding: 7px 5px;
                    // padding: 10px 0;
                }

                button {
                    border: 1px solid #f94e30;
                    background-color: #f94e30;
                    color: #fff;
                    padding: 4px 30px;
                    border-radius: 20px;
                    font-size: 14px;
                    margin: 10px 0;
                    box-shadow: 3px 3px 4px #444;

                }

                .createAccount {
                    font-size: 12px;
                    color: #f94e30;
                }

                .forgetPassword {
                    font-size: 13px;
                    color: #f94e30;
                    text-decoration: underline;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width : 992px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // .goToHome {}

        .inner {
            width: 100% !important;
            display: block;

            .image-holder {
                width: 100% !important;
                display: none;
            }

            .right {
                box-shadow: 3px 3px 4px #444;
                width: 100% !important;
                height: 500px;
            }
        }
    }
}