@import '../../App.scss';

.wrapper {
    background: linear-gradient(#3c279b, #9198e5);
    padding: 30px;
    height: 100vh;
    .goToHome{  
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            border: #3c279b;
            background-color: #3c279b;
            color:#fff;
            padding: 5px 15px;
            border-radius: 20px;
            text-align: center;
            margin: 20px 0;
        }
    }

    .inner {
        // border-radius: 20px;

        .image-holder {
            width: 50%;
        }

        .right {
            width: 35%;
            background-color: #fff;
            border-radius: 20px;

            position: relative;

            h4 {
                position: absolute;
                top: 15px;
                left: 0;
                background-color: #3c279b;
                font-size: 12px;
                padding: 4px 10px;
                color: #fff;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                font-weight: 200;
            }

            form {
                height: 100%;
                padding: 0px 20px;

                .LoginYourAccount {
                    color: #3c279b;
                    font-weight: 600;
                    font-size: 25px;
                    margin-bottom: 20px;
                }

                input {
                    background-color: transparent;
                    border-bottom: 2px solid #3c279b;
                    width: 90%;
                    margin: 10px 0;
                    padding: 0px 5px;
                }

                button {
                    border: 1px solid #3c279b;
                    background-color: #3c279b;
                    color: #fff;
                    padding: 4px 15px;
                    border-radius: 20px;
                    font-size: 14px;
                    margin: 10px 0;
                }

                .createAccount {
                    font-size: 12px;
                    color: #3c279b;
                }

                .forgetPassword {
                    font-size: 13px;
                    color: #3c279b;
                    text-decoration: underline;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width : 992px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .goToHome{

        }
        .inner {
            width: 100% !important;
            display: block;
            .image-holder {
                width: 100% !important;
                display: none;
            }

            .right {
                width: 100% !important;
                height: 400px;
            }
        }
    }
}